.settings-button-container {
    position: relative;

    .toolbox-icon {
        align-items: center;
        border-radius: 3px;
        cursor: pointer;
        display: flex;
        justify-content: center;

        &.disabled, .disabled & {
            cursor: initial;
            color: #737373;
            background-color: #1a1a1a;

            &:hover {
                background-color: #1a1a1a;
            }
        }
    }
}

.settings-button-small-icon {
    background: #1a1a1a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    cursor: pointer;
    padding: 1px;
    position: absolute;
    right: -4px;
    top: -3px;

    &:hover {
        background: #262626;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 0px 1px rgba(0, 0, 0, 0.1);

        & svg {
            fill: #0a0a0a;
        }

        &.settings-button-small-icon--disabled {
            background: #1a1a1a;

            & svg {
                fill: #737373;
            }
        }
    }

    & svg {
        fill: #fff;
    }

    &--disabled {
        background-color: #1a1a1a;
        cursor: default;

        & svg {
            fill: #737373;
        }
    }
}

.settings-button-small-icon-container {
    position: absolute;
    right: -4px;
    top: -3px;

    & .settings-button-small-icon {
        position: relative;
        top: 0;
        right: 0;
    }
}
